
.logo {
  display: flex;
  font-size: 0.7em;

  &__pic {
    height: 1em;
    width: 1em;
    background: url("./imgs/logo.png");
    background-size: contain;
    margin-right: 0.5em;
  }

  &__text {
    font-weight: 300;
  }
}

