@import "../../scss/variables.scss";

.header {
  display: flex;

  font-family: "Intro", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding: 1em;
  background-color: $greyLight;

  &__logo {
    display: flex;
  }

  &__description {
    margin: auto;
  }

  &__user {
    font-family: "PT Sans", sans-serif;
    font-size: 0.5em;
    margin-left: auto;
  }
}

.header .button {
  background-color: transparent;
  color: black;
  border: none;
  width: fit-content;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
}

.header .button__text:hover {
  text-decoration: underline;
}