.bot-client {

  padding: 1em;
  display: flex;
  flex-direction: column;

  a {
    margin: auto;
  }

  &__buttons {
    display: flex;
    padding-left: 4em;
    padding-right: 4em;
  }

  &__responses {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__titles {
    display: flex;
    justify-content: center;
  }

  &__titles_right {
    width: 12em;

    margin: 0 0.5em 0 0.5em;
  }

  &__titles_left {
    width: 12em;

    margin: 0 0.5em 0 0.5em;
  }

  &__tips_title {
    margin: 1em;
    font-weight: 700;
    padding: 0.3em;
    border-top: 1px solid lightgray;
  }

  &__description {
    margin: 1em;
    font-weight: 700;
    padding: 0.3em;
    border-bottom: 1px solid lightgray;

    &_items {
      margin-left: 1em;
      list-style-type: disc;
      margin-bottom: 2em;
    }

    &_title {
      font-weight: 700;
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      border-bottom: 1px solid lightgray;
    }
  }
}